 body {
     height: 100%;
     margin: 0;
     background: linear-gradient(to right top, #33a0f1 0%, seagreen 100%);
     background-size: cover;
 }

 .login_div {
     background: none;
     border-radius: 25px;
     border-style: solid;
     border-width: 3px;
     border-color: antiquewhite;
     float: none;
     background: linear-gradient(to right top, #33a0f1 0%, seagreen 100%);
     background-position: center;
     background-size: cover;
 }

 #icon {
     width: 70px;
 }

 .logo {
     width: 200px !important;
 }

 #b1 {
     background: none;
     border-radius: 25px;
     border-style: solid;
     border-width: 3px;
     border-color: antiquewhite;
     float: left;
     height: 12%;
     background: linear-gradient(to right top, rgb(36, 177, 177) 0%, seagreen 100%);
 }

 #b {
     background: none;
     width: 25%;
     border-radius: 25px;
     border-style: solid;
     border-width: 3px;
     border-color: white;
     float: none;
     background: linear-gradient(to right top, rgb(36, 177, 177) 0%, seagreen 100%);
 }

 h1 {
     color: white;
 }

 h3 {
     color: white;
 }

 h4 {
     color: white;
 }

 p {
     color: white;
 }

 label {
     color: white;
 }

 h2 {
     color: white;
 }

 #login_button {
     width: 20%;
     border-radius: 15px !important;
     font-size: 20px;
     border-style: solid;
     border-width: 3px;
     border-color: antiquewhite;
     float: none;
     background-color: rgb(53, 160, 187);
 }

 #addroom {
     font-size: 17px;
     margin-right: 70px;
 }

 #sour {
     background-image: linear-gradient(to right top, #33a0f1 0%, seagreen 100%);
     background-size: cover;
     border-radius: 15px;
     border-style: solid;
     border-width: 3px;
     border-color: white;
     float: none;
     width: 80%;
     height: 55%;
 }

 #addroomb {
     width: 30%;
     font-size: 25px;
     border-style: solid;
     border-width: 3px;
     border-color: white;
     float: none;
 }

 #text {
     margin-right: 60px;
     font-size: 25px !important;
 }

 #s {
     font-size: 25px !important;
     color: black;
     width: 97%;
     background-color: white;
     margin-top: 2px;
 }

 #u {
     font-size: 25px !important;
     color: black;
     width: 97%;
     background-color: white;
     margin-top: 2px;
 }

 #k {
     font-size: 25px !important;
     color: black;
     width: 97%;
     background-color: white;
     margin-top: 2px;
 }

 #uo {
     font-size: 25px !important;
     color: black;
     width: 97%;
     background-color: white;
     margin-top: 2px;
 }

 #warn {
     width: 23%;
     font-size: 23px !important;
     padding-top: 6px !important;
     padding-bottom: 6px !important;
 }

 #request {
     background-color: white;
     border-color: black;
     border-style: solid;
     border-width: 1px;
     width: 13%;
     height: 33px;
     padding-top: 3px;
     font-size: 20px;
     margin-bottom: 10px;
 }

 #empty {
     width: 20%;
 }

 .input_div_message_page {
     position: fixed;
     bottom: 0px;
     width: 100%;
     background: cadetblue;
 }

 .input_div_message_page_i {
     position: fixed;
     bottom: 0px;
     width: 100%;
     background: linear-gradient(to right top, #33a0f1 0%, seagreen 100%);
     border-style: solid;
 }